@import "src/assets/variables";

:host {
  padding: 2rem 1.5rem;
  text-align: center;

  h2 {
    margin: 0;
  }

  p {
    margin: 0.3rem 0 0.8rem 0;
    color: $lightMain;
    font-weight: 300;
  }

  $dividerHeight: 0.2rem;
  span {
    display: block;
    width: 100%;
    height: $dividerHeight;
    //background: $grey-800;
    background: $lightMain;
    border: 0;
    position: relative;
    text-align: center;

    &:after {
      display: inline-block;
      position: relative;
      content: '';
      bottom: -$dividerHeight;
      border-style: solid;
      border-width: 1rem 1.2rem 0 1.2rem;
      border-color: $lightMain transparent transparent transparent;
    }
  }
}
