@use "assets/variables" as *;

:host {
  //color: $secondary;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 3px;
  padding: 0 .15rem;
  transition: color ease-in-out 150ms, background ease-in-out 150ms, box-shadow ease-in-out 150ms;

  &:hover {
    background: rgba($secondary, 0.1);
  }

  &.active {
    background: rgba($secondary, 0.2);
    box-shadow: 0 0 8px rgba($secondary, 0.4);
  }
}
