<div class="personal-info">
  <div class="profile-picture-box">
    <img class="profile-picture" src="assets/images/Leonardo-Delcastanher_profile-pic.jpg"
         alt="Leonardo Delcastanher - Profile Picture" loading="lazy">
  </div>

  <div class="name-profession">
    <h1>Leonardo Delcastanher</h1>
    <span>Front-End Developer, Artist</span>
    <br>
    <br>
    <a href="https://github.com/LeoDelcastanher" target="_blank" title="Leonardo`s GitHub">GitHub</a>,
    <a href="https://www.linkedin.com/in/leodelcastanher/" target="_blank"
       title="Leonardo`s LinkedIn">LinkedIn</a>
  </div>
</div>

<div class="about-me-box">
  <h2>About Me</h2>
  <p>I am a 2000s child, born in the 90s influenced by the 80s. Raised between an artistic sister and a programmer
    brother, I always dreamed of being able to use everything that they taught me. When I discovered the
    Front-End`s world, I knew that my dream came true. I enjoy talking, sharing knowledge and stories. Love
    connecting all the random stuff that I learned throughout the years to solve puzzles and problems. Excellent
    worker and even better when in a team. Proactive and very creative!
  </p>
</div>

<div class="code-experience">
  <div class="experience-block">
    <div class="main-exp">HTML</div>
    <div class="exp-info">UI, UX, Bootstrap, Material Design</div>
  </div>
  <div class="experience-block">
    <div class="main-exp">JS</div>
    <div class="exp-info">Typescript, JQuery, AngularJs, Angular</div>
  </div>
  <div class="experience-block">
    <div class="main-exp">CSS</div>
    <div class="exp-info">Sass, SCSS, BEM, Bootstrap, Material Design</div>
  </div>

  <p>RESTful Services, PHP, Java (a little bit), Photoshop, Illustrator, Premiere, Digital Art (Vector and
    pixel).</p>
</div>
