@if (project) {
  <div class="project-box" [ngClass]="{'open': projectsOpen}">
    <div class="project-title" (click)="toggleProjects()">
      <h4 class="project-name">{{project.name}}</h4>
      <div class="project-toggle"></div>
    </div>

    <div class="project-description">
      <div class="project-date">
        ({{project.startDate | date:'yyyy'}} -
        @if (project.endDate) {
          {{project.endDate | date:'yyyy'}}
        } @else {
          Now
        })
      </div>

      @if (project.imageSrc) {
        <img class="project-image"
             [src]="project.imageSrc"
             [alt]="project.imageAlt"
             loading="lazy">
      }

      <p class="description-text">
        @for (segment of project.description | heyListen; track $index) {
          @if (segment.highlight) {
            <hey-listen [term]="segment.text">{{ segment.text }}</hey-listen>
          } @else {
            {{ segment.text }}
          }
        }
      </p>
    </div>

    <div class="main-tasks">
      <ul class="task-list">
        @for (task of project.mainTasks; track $index) {
          <li>
            @for (segment of task | heyListen; track $index) {
              @if (segment.highlight) {
                <hey-listen [term]="segment.text">{{ segment.text }}</hey-listen>
              } @else {
                {{ segment.text }}
              }
            }
          </li>
        }
      </ul>
    </div>

    <div class="stack-container">
      @for (stack of project.stack; track stack) {
        <stack-box [stack]="stack"></stack-box>
      }
    </div>

    @if (project.extra) {
      <p class="project-extra">{{project.extra}}</p>
    }
  </div>
}
