/* Colors */
$main: #212121;
$lightMain: #616161;
$secondary: #336699ff;
$details: #e4572eff;
$mainBack: #d2d5ddff;
$secondaryBack: #b8bacfff;
$niceWhite: #F5F5F5;

$grey-900: #212121;
$grey-800: #424242;
$grey-700: #616161;
$grey-600: #757575;
$grey-500: #9E9E9E;

$green-700: #388E3C;
