@font-face {
  font-family: 'Roboto';
  src: url("Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  src: url("Roboto/Roboto-Italic.ttf");
}
@font-face {
  font-family: 'Roboto';
  font-weight: bold;
  src: url("Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: 'Roboto';
  font-weight: bold;
  font-style: italic;
  src: url("Roboto/Roboto-BoldItalic.ttf");
}
@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: url("Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: italic;
  src: url("Roboto/Roboto-LightItalic.ttf");
}
@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  src: url("Roboto/Roboto-Black.ttf");
}
@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  font-style: italic;
  src: url("Roboto/Roboto-BlackItalic.ttf");
}

@font-face {
  font-family: 'Comic Sans Fallback';
  src: url("ComicSans/ComicSans.ttf");
}
@font-face {
  font-family: 'Comic Sans Fallback';
  src: url("ComicSans/ComicSans-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: 'Comic Sans Fallback';
  src: url("ComicSans/ComicSans-bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: 'Comic Sans Fallback';
  src: url("ComicSans/ComicSans-bold-italic.ttf");
  font-weight: bold;
  font-style: italic;
}

//** Material Colors **//
$grey50: #FAFAFA;
$grey100: #F5F5F5;
$grey200: #EEEEEE;
$grey300: #E0E0E0;
$grey400: #BDBDBD;
$grey500: #9E9E9E;
$grey600: #757575;
$grey700: #616161;
$grey800: #424242;
$grey900: #212121;

$blueGrey50: #ECEFF1;
$blueGrey100: #CFD8DC;
$blueGrey200: #B0BEC5;
$blueGrey300: #90A4AE;
$blueGrey400: #78909C;
$blueGrey500: #607D8B;
$blueGrey600: #546E7A;
$blueGrey700: #455A64;
$blueGrey800: #37474F;
$blueGrey900: #263238;

$red50: #FFEBEE;
$red100: #FFCDD2;
$red200: #EF9A9A;
$red300: #E57373;
$red400: #EF5350;
$red500: #F44336;
$red600: #E53935;
$red700: #D32F2F;
$red800: #C62828;
$red900: #B71C1C;

$green50: #E8F5E9;
$green100: #C8E6C9;
$green200: #A5D6A7;
$green300: #81C784;
$green400: #66BB6A;
$green500: #4CAF50;
$green600: #43A047;
$green700: #388E3C;
$green800: #2E7D32;
$green900: #1B5E20;

$amber50: #FFF8E1;
$amber100: #FFECB3;
$amber200: #FFE082;
$amber300: #FFD54F;
$amber400: #FFCA28;
$amber500: #FFC107;
$amber600: #FFB300;
$amber700: #FFA000;
$amber800: #FF8F00;
$amber900: #FF6F00;

$lightBlue50: #E1F5FE;
$lightBlue100: #B3E5FC;
$lightBlue200: #81D4FA;
$lightBlue300: #4FC3F7;
$lightBlue400: #29B6F6;
$lightBlue500: #03A9F4;
$lightBlue600: #039BE5;
$lightBlue700: #0288D1;
$lightBlue800: #0277BD;
$lightBlue900: #01579B;

//** Colors **//
//$secondary: $red500;

$darkPrimary: #181818;
$darkSecondary: #212121;
$darkLight: #3D3D3D;
$darkLightSecondary: #AAAAAA;
$text: #f3f3fa;
$secondary: $red600;

//** General stuff **//
$borderRadius: 5px;

//** Animation **//
@keyframes breathe {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0.8;
  }
}
