@import "../../../../../assets/variables";

:host {
  padding-top: 2rem;
}

#about-me {
}

$profilePicSize: 13rem;
.personal-info {
  display: flex;
  flex-flow: column;
  align-items: center;

  .name-profession {
    align-self: flex-start;

    h1 {
      margin-bottom: 0.3rem;
    }

    span {
      margin-top: 0.3rem;
      font-weight: normal;
      color: $lightText;
    }
  }

  @media (min-width: 720px) {
    flex-flow: row;

    .name-profession {
      align-self: center;
      padding-bottom: 2rem;
    }
  }
}

.profile-picture-box {
  position: relative;
  padding-bottom: 1rem;
  margin-right: 1rem;

  &::before {
    position: absolute;
    content: '';
    width: 6rem;
    height: 15rem;
    background: $baseGray;
    bottom: 0;
    transform: translateX(($profilePicSize/2)-3rem);
    transition: ease-in-out 300ms;
  }

  .profile-picture {
    position: relative;
    width: $profilePicSize;
    height: $profilePicSize;
    border-radius: 100%;
  }
}

.code-experience {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: .7rem;
  text-align: center;
  margin-top: 5rem;

  p {
    text-align: center;
    text-indent: 0;
    grid-column: 3 span;
    color: $lightText;
    margin: 1rem 2rem 0;
  }

  @media (min-width: 720px) {
    p {
      margin: 1rem 5.2rem 0;
    }
  }
}

.experience-block {
  grid-column: 3 span;
  margin: 0 1.5rem 2rem;

  &:last-of-type {
    margin-bottom: 0;
  }

  .main-exp {
    background: $baseGray;
    font-size: 2rem;
    font-weight: bold;
    padding: .5rem 0;
  }

  .exp-info {
    color: $lightText;
    margin: .5rem 1.4rem;
  }
}
