/* You can add global styles to this file, and also import other style files */
@import "assets/variables";

@font-face {
  font-family: 'Roboto';
  src: url("assets/fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  src: url("assets/fonts/Roboto-Italic.ttf");
}
@font-face {
  font-family: 'Roboto';
  font-weight: bold;
  src: url("assets/fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: 'Roboto';
  font-weight: bold;
  font-style: italic;
  src: url("assets/fonts/Roboto-BoldItalic.ttf");
}
@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  src: url("assets/fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: italic;
  src: url("assets/fonts/Roboto-LightItalic.ttf");
}
@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  src: url("assets/fonts/Roboto-Black.ttf");
}
@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  font-style: italic;
  src: url("assets/fonts/Roboto-BlackItalic.ttf");
}

html {
  background: $niceWhite;
  font-size: 10px;
  font-family: "Roboto";
  color: $grey-800;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 2.4rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.6rem;
}
