@import "../../../../../assets/variables";

.experience-display {
  margin: 5rem 0 5rem;
  display: flex;
  flex-direction: column;
  $imageSize: 7rem;

  .exp-header {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .exp-image {
    width: $imageSize;
    margin-right: 1rem;
  }

  .exp-header-info {
    border-left: 0.7rem solid $baseGray;
    padding: .8rem;
    align-self: stretch;
    display: flex;
    flex-flow: column;

    span {
      color: $lightText;
    }
  }

  .projects-container {
    p {
      font-weight: bold;
    }
  }

  //* Skelly *//
  &.skelly {
    animation: breathe 2.5s infinite;

    * {
      user-select: none;
      color: transparent !important;
    }

    .exp-image {
      background: $grey400;
      border-radius: $borderRadius;
    }

    h3 {
      align-self: flex-start;
      background: $grey700;
      border-radius: $borderRadius;
    }

    span {
      align-self: flex-start;
      background: $grey600;
      border-radius: $borderRadius;
    }

    h4 {
      align-self: flex-start;
      background: $grey500;
      border-radius: $borderRadius;
    }

    p {
      background: $grey400;
      border-radius: $borderRadius;
    }
  }
  //* End Of Skelly *//

  @media (max-width: 720px) {
    h4 {
      text-indent: 1rem;
    }
    P {
      text-indent: 1.5rem;
      text-align: left;
    }
  }

  @media (min-width: 720px) {
    .exp-header {
      flex-flow: row;
      align-items: center;
      padding-bottom: 1rem;
    }

    .exp-header-info {
      background: $baseGray;
      border: none;
      padding-right: 6rem;
      align-self: center;

      span {
        color: $lightText;
      }
    }
  }
}
