<div *ngFor="let exp of list" class="experience-display">
  <div class="exp-header">
    <img class="exp-image"
         [src]="exp.imageSrc"
         [alt]="exp.imageAlt" loading="lazy">
    <div class="exp-header-info">
      <h3>{{exp.name}}</h3>
      <span>
        {{exp.startDate | date:'yyyy'}} -
        <span *ngIf="exp?.endDate">{{exp.endDate | date:'yyyy'}}</span>
        <span *ngIf="!exp?.endDate">Now</span>
      </span>
    </div>
  </div>

  <h4>{{exp.expTitle}}</h4>
  <p>{{exp.description}}</p>
</div>

<div *ngIf="list.length <= 0" class="experience-display skelly">
  <div class="exp-header">
    <div class="exp-image"
         style="width: 112px; height: 112px"></div>
    <div class="exp-header-info">
      <h3>Experience Name</h3>
      <span>
        0000 - 0000
      </span>
    </div>
  </div>

  <h4>My Title Experience </h4>
  <p>A brief description</p>
</div>
