@import "variables";

html {
}

body {
  font-family: Roboto;
  margin: 4rem 0 0 0;
  color: $plainText;
  font-size: 16px;
  max-width: 720px;
  margin-inline: auto;
  padding: 0 1.3rem;
}

section {
}

h1 {
  font-weight: 900;
  font-size: 1.625rem;
}

h2 {
  background: $baseGray;
  font-size: 1.3rem;
  display: inline-block;
  padding: .5rem 8rem .5rem .8rem;
  margin: 5rem 0 1rem .5rem;
}

h3 {
  margin: 0;
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
  text-indent: 4.5rem;
  margin: 1rem 0;
}

p {
  line-height: 1.8rem;
  text-align: justify;
  margin: 0 0 1rem;
  text-indent: 5.5rem;
}

#about-me {

}

$profilePicSize: 13rem;
.personal-info {
  display: flex;
  flex-flow: column;
  align-items: center;

  .name-profession {
    align-self: flex-start;

    h1 {
      margin-bottom: 0.3rem;
    }

    span {
      margin-top: 0.3rem;
      font-weight: normal;
      color: $lightText;
    }
  }
}

.profile-picture-box {
  position: relative;
  padding-bottom: 1rem;
  margin-right: 1rem;

  &::before {
    position: absolute;
    content: '';
    width: 6rem;
    height: 15rem;
    background: $baseGray;
    bottom: 0;
    transform: translateX(($profilePicSize/2)-3rem);
  }

  .profile-picture {
    position: relative;
    width: $profilePicSize;
    height: $profilePicSize;
    border-radius: 100%;
  }
}

.code-experience {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: .7rem;
  text-align: center;
  margin-top: 5rem;

  p {
    text-align: center;
    text-indent: 0;
    grid-column: 3 span;
    color: $lightText;
    //margin: 1rem 5.2rem 0;
    margin: 1rem 2rem 0;
  }
}

.experience-block {
  .main-exp {
    background: $baseGray;
    font-size: 2rem;
    font-weight: bold;
    padding: .5rem 0;
  }

  .exp-info {
    color: $lightText;
    margin: .5rem 1.4rem;
  }
}

.experience-display {
  margin: 5rem 0 7rem;
  $imageSize: 7rem;

  .exp-header {
    display: flex;
    flex-flow: column;
    align-items: center;
    //padding-bottom: 1rem;
  }

  img {
    width: $imageSize;
    margin-right: 1rem;
  }

  .exp-header-info {
    //background: $baseGray;
    border-left: 0.7rem solid $baseGray;
    padding: .8rem;
    align-self: stretch;

    span {
      color: $lightText;
    }

  }

  h4 {
    text-indent: 1rem;
  }
  P {
    text-indent: 1.5rem;
    text-align: left;
  }
}
